/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --accent-color: #000;
  --reverse-accent-color: #fff;
  --contour-color: #000;
  --animation-fill-color: #ff0000;
  --main-font: "Inter-Variable";
  --accent-font: "PressStart2P";
  --heading-font-weight: 715;
  --description-font-weight: 410;
  --grid-gradient: repeating-linear-gradient(
      to right,
      #d3d3d3 0,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3 0,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(to bottom, #e7e7e7 0, #e7e7e7 0.01%, #1a1a1a 100%);
  --block-width: clamp(375px, 48.6vw, 700px);
  --text-stroke-color: #fff;
}
